{
  "presets": ["@babel/preset-env", "@babel/preset-react", "stage-2"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    "jsx-display-if",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
