.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -2em;
  overflow: hidden;
  .grid-box-wrap {
    flex-basis: 15em;
    flex-grow: 1;
    margin: 0 2em 0 0;
  }

}