// This is a file with some example Sass to show how to route images and more someday maybe

#logo {
	text-align: center;
	margin: 1em auto 0;
}

#logoSub {
	text-align: center;
	margin: 0.2em auto 0;
}

.flexParent {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.flexGrow {
	flex: 1;
	display: flex;
	margin-bottom: 2em;
}

section.section {
	margin: 1em 0;
	overflow: hidden;
	h2 {
		margin-bottom: 0.5em;
	}
}

.zocial {
	//font-family: "zocial", sans-serif;
}

.contact-links {
	display: inline-block;
	li, a {
	  display: inline-block;
	}

	li {
	  border-right: $base-border;
	  padding: 5px 7px 5px 5px;
	  
	  &:last-child {
	    border-right-color: transparent;
	  }
	}

	a {
	  width: 64px;
	  height: 64px;
	  line-height: 64px;
	  text-decoration: none;
	  color: #111;
	  text-align: center;
    transition: all .15s linear;
	  font: {
	    family: "zocial", sans-serif;
	    size: 24px;
	  }
	  
	  @include transition(background-color .15s ease-in-out);
	  
	  &:hover {
	    background-color: $accent-color;
	  }
	  
	  &:active {
	    background-color: darken($accent-color,10%);
	  }
	}
}